@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

%firststyle {
  font-family: $fontfamily;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #1e2e36;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  @include media-breakpoint-down(xxl) {
    font-size: 14px;
  }
}

%titlestyle {
  font-family: $fontfamily;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: center;
  color: #1e2e36;
  padding: 100px 0 50px 0;
  @include media-breakpoint-down(xxl) {
    font-size: 44px;
    padding: 80px 0 50px 0;
  }
  @include media-breakpoint-down(lg) {
    font-size: 36px;
  }
  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 1.5rem;
  font-family: $fontfamily;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0.05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.custom-container {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @include media-breakpoint-down(sm) {
    max-width: 540px;
  }
  @include media-breakpoint-down(md) {
    max-width: 720px;
  }
  @include media-breakpoint-down(lg) {
    max-width: 960px;
  }
  @include media-breakpoint-down(xl) {
    max-width: 1140px;
  }
  @include media-breakpoint-down(xxl) {
    max-width: 1320px;
  }
  @include media-breakpoint-down(xxxl) {
    max-width: 1520px;
  }
}

/*****************************************************
*** Buttons ***
*****************************************************/
.btns-container {
  padding: 20px 0;
  a.btn-theme:active,
  a.btn-theme:hover,
  a.btn-theme {
    text-decoration: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-family: $fontfamily;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.692;
    text-align: center;
    letter-spacing: 1px;
    @include media-breakpoint-down(xxl) {
      font-size: 14px;
    }
    @include media-breakpoint-down(lg) {
      letter-spacing: 0px;
      line-height: 1.4;
    }
  }
  .btn-theme {
    background-color: $color;
    padding: 10px 30px;
    border: $color;
    @include media-breakpoint-down(md) {
      padding: 6px 20px;
    }
  }
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.header {
  .nav-desc {
    .header__top {
      border-bottom: 0.05rem solid rgba(2, 2, 2, 0.2);
      @include media-breakpoint-down(md) {
        display: none;
      }
      .container-fluid {
        padding: 0;
        .header__layout--top {
          display: flex;
          align-content: center;
          justify-content: space-between;
          align-items: center;
          .header__section--left {
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            .header-social {
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                margin: 15px 0;
                @extend %firststyle;
                text-transform: none;
              }
              .header__social--image {
                img {
                  padding: 0 12px;
                  @include media-breakpoint-down(xl) {
                    padding: 0 5px;
                  }
                }
              }
            }
            .header-contact {
              display: flex;
              padding: 0 0 0 30px;
              @include media-breakpoint-down(xl) {
                padding: 0 0 0 5px;
              }
              img {
                padding: 0 0 0 10px;
              }
              .dropdown {
                button {
                  @extend %firststyle;
                  padding: 0 8px;
                }
                a {
                  @extend %firststyle;
                  text-decoration: none;
                  border-bottom: 3px solid transparent;
                  color: #1e2e36;
                  &:hover {
                    border-bottom: 3px solid #44c697;
                  }
                }
              }
            }
          }
          .header__section--right {
            ul li a {
              color: black;
              padding: 0;
            }
            .nav-item {
              padding: 0 0 0 15px;
              @include media-breakpoint-down(xl) {
                padding: 0 0 0 5px;
              }
              a {
                @extend %firststyle;
                border-bottom: 3px solid transparent;
                &:hover {
                  border-bottom: 3px solid #44c697;
                }
              }
            }
          }
        }
      }
    }
    .header__bottom {
      border-bottom: 0.05rem solid rgba(2, 2, 2, 0.2);
      .container-fluid {
        padding: 0;
        margin: 0;
        .header__layout--bottom {
          nav {
            padding: 0;
            @include media-breakpoint-down(md) {
              padding: 0px 0;
              margin: auto 0;
            }
            .container-fluid {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0;
              margin: 0;

              .navbar-toggler {
                margin: 30px 0;
                @include media-breakpoint-down(sm) {
                  margin: 15px 0;
                }
              }
              ul li a {
                color: #1e2e36;
                text-decoration: none;
                @extend %firststyle;
                padding: 0 15px 0 0;
                @include media-breakpoint-down(xxl) {
                  padding: 0 8px 0 0;
                }
                @include media-breakpoint-down(xl) {
                  padding: 8px 2px;
                }
                @include media-breakpoint-down(lg) {
                  padding: 4px 2px;
                }
              }
              .navbar-collapse {
                order: -1;
                @include media-breakpoint-down(md) {
                  order: 0;
                }
                .navbar-nav {
                  display: flex;
                  padding-left: 0;
                  margin-bottom: 0;
                  list-style: none;
                  flex-direction: row;
                  @include media-breakpoint-down(md) {
                    flex-direction: column;
                  }
                  .nav-item,
                  .dropdown-item {
                    border-bottom: 3px solid transparent;
                    &:hover {
                      border-bottom: 3px solid #44c697;
                    }
                  }
                  .dropdown-item {
                    padding: 6px 8px;
                    background-color: rgb(255, 255, 255);
                    .dropdown-item:focus,
                    .dropdown-item:hover,
                    .dropdown-item:active {
                      -webkit-tap-highlight-color: transparent;
                    }
                  }
                }
              }

              .level--two {
                display: none;
                padding: 0;
                @include media-breakpoint-down(md) {
                  display: block;
                }
                li {
                  list-style-type: none;
                  padding: 3px 0;
                }
              }
              .btns-container {
                @include media-breakpoint-down(md) {
                  display: none;
                }
              }
            }
          }
          .header__column--logo {
            overflow: hidden;
            padding: 15px 126px 15px 0;
            margin: 0;

            @include media-breakpoint-down(lg) {
              padding: 15px 126px 15px 15px;
            }
            @include media-breakpoint-down(md) {
              padding: 15px;
            }
            @include media-breakpoint-down(sm) {
              display: none;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          .header__section--shopping-cart {
            display: flex;
            justify-content: center;
            align-items: center;

            .shopping-cart-text {
              color: black;
              text-decoration: none;
              @extend %firststyle;
              padding: 0 30px 0 5px;
              @include media-breakpoint-down(xxl) {
                font-size: 14px;
              }
              @include media-breakpoint-down(md) {
                padding: 0;
              }
            }
            .btns-container {
              @include media-breakpoint-down(md) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.main-screen {
  .carousel-item {
    position: relative;
    .carousel-item-img {
      overflow: hidden;
      max-height: 785px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .custom-container {
      position: relative;
      .carousel-caption {
        position: absolute;
        right: 0px;
        bottom: 100px;
        left: 15px;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        text-align: center;
        width: 28%;
        padding: 0;

        @include media-breakpoint-down(xxl) {
          bottom: 75px;
          width: 27%;
        }
        @include media-breakpoint-down(xl) {
          bottom: 65px;
        }
        @include media-breakpoint-down(md) {
          width: 29%;
        }
        @include media-breakpoint-down(sm) {
          bottom: 40px;
        }
        @include media-breakpoint-down(xs) {
          bottom: 35px;
          width: 33%;
        }
        .card-body {
          border-left: 15px solid #44c697;
          text-align: center;
          color: black;
          @include media-breakpoint-down(sm) {
            padding: 0.5rem;
            border-left: 10px solid #44c697;
          }
          .card-title {
            @extend %titlestyle;
            font-size: 58px;
            padding: 170px 0 30px 0;
            @include media-breakpoint-down(xxl) {
              font-size: 50px;
              padding: 145px 0 30px 0;
            }
            @include media-breakpoint-down(xl) {
              font-size: 44px;
              padding: 145px 0 20px 0;
            }
            @include media-breakpoint-down(md) {
              font-size: 34px;
              padding: 145px 0 10px 0;
            }
            @include media-breakpoint-down(sm) {
              font-size: 28px;
            }
            @include media-breakpoint-down(xs) {
              padding: 145px 0 0 0;
              font-size: 24px;
            }
          }

          h6,
          .card-text {
            font-family: $fontfamily;
            text-align: center;
            font-size: 32px;
            line-height: 125%;
            @include media-breakpoint-down(xxl) {
              font-size: 26px;
            }
            @include media-breakpoint-down(xl) {
              font-size: 20px;
            }
            @include media-breakpoint-down(sm) {
              font-size: 18px;
            }
            @include media-breakpoint-down(xs) {
              font-size: 14px;
            }
          }
          h6 {
            font-weight: bold;
            @include media-breakpoint-down(xs) {
              margin: 0;
            }
          }
          .card-text {
            padding: 2px 0 0 0;
            @include media-breakpoint-down(xs) {
              line-height: 1.1;
              letter-spacing: -1px;
              margin: 0 0 10px 0;
            }
          }
          .btns-container {
            padding: 10px 0;
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
            a {
              @include media-breakpoint-down(xs) {
                font-size: 12px;
              }
            }
          }
          .slick-carousel {
            padding: 40px 0 0 0;
            @include media-breakpoint-down(xxl) {
              padding: 20px 0 0 0;
            }
            @include media-breakpoint-down(md) {
              padding: 10px 0 0 0;
            }
            p {
              font-family: $fontfamily;
              font-size: 24px;
              font-weight: bold;
              line-height: 125%;
              margin-bottom: 2rem;
              @include media-breakpoint-down(md) {
                font-size: 14px;
                margin-bottom: 1rem;
              }
              @include media-breakpoint-down(xs) {
                margin: 0 0 5px 0;
              }
              span {
                font-size: 32px;
                @include media-breakpoint-down(md) {
                  font-size: 24px;
                }
                @include media-breakpoint-down(sm) {
                  font-size: 16px;
                }
              }
            }
          }
          .icon_slick {
            padding: 15px 0 70px 0;
            @include media-breakpoint-down(xxl) {
              padding: 15px 0 40px 0;
            }
            @include media-breakpoint-down(xl) {
              padding: 0 0 50px 0;
            }
            @include media-breakpoint-down(md) {
              padding: 0 0 20px 0;
            }
            @include media-breakpoint-down(sm) {
              padding: 0 0 25px 0;
            }
            @include media-breakpoint-down(xs) {
              padding: 0 0 15px 0;
            }
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              display: none;
            }
            .carousel-control-next,
            .carousel-control-prev {
              position: absolute;
              top: 500px;
              bottom: 0;
              @include media-breakpoint-down(xxl) {
                top: 435px;
              }
              @include media-breakpoint-down(xl) {
                top: 400px;
              }
              @include media-breakpoint-down(md) {
                top: 375px;
              }
              @include media-breakpoint-down(sm) {
                top: 325px;
              }
              @include media-breakpoint-down(xs) {
                top: 295px;
              }
              img {
                width: 55%;
                @include media-breakpoint-down(md) {
                  width: 55%;
                }
              }
            }
            .carousel-control-next {
              left: 49%;
              @include media-breakpoint-down(md) {
                left: 50%;
              }
            }
            .carousel-control-prev {
              left: 40%;
            }
          }
        }
      }
    }
  }
}

.benefits {
  .benefits_header {
    h2 {
      @extend %titlestyle;
      span {
        box-shadow: inset 17px 0px 0px -1px #44c697;
        border-left: 5px solid #44c697;
      }
    }
  }

  .row {
    .card-holder {
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
    .card-holder img {
      max-width: 100%;
      height: 350px;
      height: auto;
      display: block;
      margin: 0;
    }
    .card-holder:hover .card-descr {
      bottom: 0;
    }
    .card-descr {
      color: #fbfbfb;
      width: 100%;
      padding: 10px;
      position: absolute;
      bottom: -31%;
      transition-property: bottom;
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      transition-delay: 0.3s;
      @include media-breakpoint-down(xxl) {
        bottom: -30%;
      }

      @include media-breakpoint-down(xl) {
        bottom: -34%;
      }
      @include media-breakpoint-down(lg) {
        bottom: -22%;
      }
      @include media-breakpoint-down(sm) {
        bottom: -14%;
      }
      @include media-breakpoint-down(xs) {
        bottom: -20%;
      }

      .card-title {
        font-family: $fontfamily;
        font-size: 32px;
        line-height: 125%;
        font-weight: bold;
        @include media-breakpoint-down(xxl) {
          font-size: 28px;
        }
        @include media-breakpoint-down(md) {
          font-size: 24px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 40px;
          left: 0px;
          width: 60%;
          height: 2px;
          background-color: #44c697;
          margin: 13px 0 0 10px;
          display: block;
          @include media-breakpoint-down(xxl) {
            margin: 7px 0 0 10px;
          }
          @include media-breakpoint-down(md) {
            margin: 2px 0 0 10px;
          }
        }
      }
      .card-text {
        font-family: $fontfamily;
        font-size: 18px;
        line-height: 125%;
        margin: 15px 0;
        @include media-breakpoint-down(xxl) {
          font-size: 14px;
        }
      }
    }
  }
}

.categories-page {
  .categories_header {
    h2 {
      @extend %titlestyle;
      span {
        box-shadow: inset 17px 0px 0px -1px #44c697;
        border-left: 5px solid #44c697;
      }
    }
  }

  .categories-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 75px 0;
    align-items: flex-end;
    .elements-categories {
      border-bottom: 3px solid transparent;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 10px 0px;
      &:hover {
        border-bottom: 3px solid #44c697;
      }
      @include media-breakpoint-down(sm) {
        margin: 1% 6%;
      }
      .elements-img {
        margin: 0px 0px 10px 0px;
        overflow: hidden;
        position: relative;
      }
      .card-title {
        @extend %titlestyle;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        line-height: 125%;
        letter-spacing: 0em;

        @include media-breakpoint-down(xxl) {
          font-size: 14px;
        }
      }
    }
  }
  .catalog {
    .card {
      border: none;
      border-radius: 0;
      padding: 0 0 50px 0;
      @include media-breakpoint-down(xxl) {
        padding: 0 0 20px 0;
      }

      &:hover {
        .card-body {
          background-color: #44c697;
          border: 3px solid #44c697;
        }
        .card-body p {
          color: white;
          margin: 0;
        }
      }
      .label-new,
      .label-action {
        @extend %firststyle;
        width: auto;
        height: auto;
        padding: 3px 10px 3px 10px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        color: white;
        cursor: pointer;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
      .label-new {
        position: absolute;
        top: 10px;
        left: 0;
        background: #1e2e36;
        letter-spacing: 0em;
        z-index: 1;
      }
      .label-action {
        position: absolute;
        top: 40px;
        left: 0;
        background: red;
        z-index: 1;
      }
      .catalog-img {
        margin: 0px;
        padding: 0px 0px 51.5% 0px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .card-body {
        display: flex;
        justify-content: space-between;
        border: 3px solid transparent;
        @include media-breakpoint-down(lg) {
          flex-direction: column;
        }
        .card-price {
          margin: 0;
        }
        p {
          @extend %titlestyle;
          font-size: 24px;
          text-transform: uppercase;
          padding: 0;
          @include media-breakpoint-down(xxl) {
            font-size: 20px;
          }
          @include media-breakpoint-down(lg) {
            font-size: 18px;
          }
          @include media-breakpoint-down(md) {
            font-size: 16px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
          span {
            text-decoration-line: line-through;
            font-size: 15px;
            color: #bcbdbb;
          }
        }
        .action-price {
          color: red;
        }
      }
    }
  }
  .btns-container {
    text-align: center;
    @include media-breakpoint-down(xl) {
      padding: 0;
    }
  }
}

.about {
  overflow: hidden;
  .about_header {
    h2 {
      @extend %titlestyle;

      span {
        box-shadow: inset 17px 0px 0px -1px #44c697;
        border-left: 5px solid #44c697;
      }
    }
  }
  .about-container {
    position: relative;
    .about-text {
      font-size: $fontfamily;
      font-size: 18px;
      letter-spacing: -1px;
      width: 42%;
      border-right: 15px solid #44c697;
      padding: 50px 30px 35px 0;
      background-color: white;
      z-index: 3;
      position: relative;
      margin: 80px auto 100px 0;
      @include media-breakpoint-down(xl) {
        width: 50%;
      }
      @include media-breakpoint-down(lg) {
        margin: 0 0 145px 0;
      }
      @include media-breakpoint-down(md) {
        margin: 0 0 65px 0;
        padding: 0px 30px 35px 0;
        width: 55%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 0 0 35px 0;
        padding: 0;
        text-align: right;
      }
      .colortext {
        text-transform: uppercase;
        font-weight: bold;

        color: #44c697;
      }
    }
    .about-img {
      position: absolute;
      z-index: 2;
      top: -11%;
      left: 23%;
      @include media-breakpoint-down(xxl) {
        top: -6%;
      }
      @include media-breakpoint-down(xl) {
        top: -8%;
      }
      @include media-breakpoint-down(md) {
        top: 12%;
        left: 20%;
      }
      @include media-breakpoint-down(sm) {
        position: relative;
        top: 0;
        left: 0;
      }
      img {
        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }
    }
  }
}

.contact {
  overflow: hidden;
  padding-bottom: 100px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 125px;
  }
  .contact-header {
    h2 {
      @extend %titlestyle;
      padding: 80px 0 50px 0;
      @include media-breakpoint-down(sm) {
        padding: 50px 0;
      }
      span {
        box-shadow: inset 17px 0px 0px -1px #44c697;
        border-left: 5px solid #44c697;
      }
    }
  }
  .contact-container {
    position: relative;

    .contact-img {
      position: absolute;
      top: -28%;
      left: -22%;
      z-index: 1;
      @include media-breakpoint-down(xxl) {
        top: -16%;
        left: -37%;
      }
      @include media-breakpoint-down(xl) {
        top: -25%;
        left: -53%;
      }
      @include media-breakpoint-down(md) {
        top: -15%;
        left: -20%;
      }
    }
    .contact-form {
      position: relative;
      z-index: 2;
      width: 30%;
      margin: 120px 0 120px auto;
      @include media-breakpoint-down(xl) {
        width: 37%;
      }
      @include media-breakpoint-down(md) {
        width: 80%;
        margin: 60px auto;
      }
      form {
        background-color: white;
        border-left: 15px solid #44c697;

        legend {
          font-family: $fontfamily;
          font-size: 32px;
          font-weight: 700;
          line-height: 45px;
          letter-spacing: 0em;
          text-align: center;
          padding: 50px 0 30px;
        }
        .mb-3,
        .btns-container,
        p {
          padding: 0px 0px 0px 30px;
          font-size: 18px;
        }

        .form-control {
          background-color: white;
        }
        .mb-3 {
          @include media-breakpoint-down(md) {
            padding: 0px 30px;
          }
        }
        .btns-container {
          @include media-breakpoint-down(md) {
            padding: 0;
            text-align: center;
          }
          .btn-theme {
            padding: 10px 135px;
            @include media-breakpoint-down(xxl) {
              padding: 10px 118px;
            }
            @include media-breakpoint-down(xl) {
              padding: 10px 145px;
            }
            @include media-breakpoint-down(lg) {
              padding: 10px 50px;
            }
            @include media-breakpoint-down(md) {
              padding: 10px 40px;
            }
            @include media-breakpoint-down(sm) {
              margin: 0px 25%;
            }
          }
        }
        p {
          padding: 30px 0 50px 30px;
          @include media-breakpoint-down(md) {
            padding: 30px;
            text-align: center;
          }
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer {
  overflow: hidden;
  z-index: 2;
  position: relative;
  background: #1e2e36;
  .back_to_top-container {
    position: absolute;
    top: -8px;
    left: -7px;
  }
  .p-4 {
    padding: 0 1.5rem !important;
  }

  .mt-3 {
    padding: 24px 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(lg) {
      flex-wrap: nowrap;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      justify-content: center;
    }
    p,
    a,
    .phone a {
      text-decoration: none;
      @extend %firststyle;
      color: white;
      text-align: left;
      @include media-breakpoint-down(xl) {
        font-weight: 400;
        letter-spacing: -1px;
      }
      &:hover {
        color: $color;
      }
      span {
        color: $color;
      }
    }
    .mb-3 {
      cursor: pointer;
      p {
        @extend %firststyle;
        font-weight: normal;
        text-transform: none;
        color: white;
      }
      .num-2 {
        padding-left: 25px;
      }
      .soc-bl {
        p {
          @extend %firststyle;
          padding: 15px 0 0 0;
          @include media-breakpoint-down(xl) {
            display: none;
            text-align: left;
          }
        }
        .icon-soc {
          @include media-breakpoint-down(xl) {
            padding: 0 0 0 10px;
          }
          img {
            padding: 0 15px;
            @include media-breakpoint-down(xl) {
              padding: 0 5px;
            }
          }
        }
      }
    }
    .сopyright {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      p {
        font-size: 12px;
        text-transform: none;
        margin: 0;
      }
      img {
        width: 40%;
        height: 40%;
      }
    }
    .bg-img {
      max-width: 100%;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
